
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            Id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZXhQgXOL-snfs24opbFxb85eQuZ6oGR6FzxyAjH5vMPSU2nBsQipJg0pkC-gdmYEM_4&usqp=CAU"
            cardTitle="Carlo Acutis vai ser canonizado ?"
            cardDescription="Com muita alegria no ultimo mês o Papa Francisco trouxe a toda a Santa igreja Católica que o Beato será Canonizado..."
        ></app-big-card>

        
            
        </div>

    <div class="articles__others">
        <app-small-cards
            Id="2"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZXhQgXOL-snfs24opbFxb85eQuZ6oGR6FzxyAjH5vMPSU2nBsQipJg0pkC-gdmYEM_4&usqp=CAU"
            cardTitle="Santa Terezinha"
        ></app-small-cards>

        <app-small-cards
            Id="3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZXhQgXOL-snfs24opbFxb85eQuZ6oGR6FzxyAjH5vMPSU2nBsQipJg0pkC-gdmYEM_4&usqp=CAU"
            cardTitle="São João da Cruz"
        ></app-small-cards>

        <app-small-cards
            Id="4"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZXhQgXOL-snfs24opbFxb85eQuZ6oGR6FzxyAjH5vMPSU2nBsQipJg0pkC-gdmYEM_4&usqp=CAU"
            cardTitle="Cura d`ars"    
        ></app-small-cards>

    </div>
        
    
</div>