<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZXhQgXOL-snfs24opbFxb85eQuZ6oGR6FzxyAjH5vMPSU2nBsQipJg0pkC-gdmYEM_4&usqp=CAU" 
            alt="">
        </div>
    
        <div class="small-card__title">
            <h1><a href="#"> Carlo Acutis , Rogai por nós!</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>

